h1.Ueberschrift {
	
	text-align:center;
	font-weight: bold;
	border-bottom-style: none;
	font-size: 50px;


}
h1.Ueberschrift2 {
	text-align:center;
	font-weight: bold;
	border-bottom-style: none;
	font-size: 50px;
	color : white ;
}
h2 {
	text-align: center;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 150px;


}
h2.Inhalt {
	text-align: center;
	font-weight: bold;

	font-family: Helvetica;
	margin-left: 50px;
	margin-top: 120px;
	color: white;

	margin-left: 50px;
	margin-top: 120px;
	color : white;

}
body.BildStarWars {
	background: url(Bilder/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.BildClashRoyal {
	background: url(Bilder/clash-royale-update-leaks-new-cards-sneak-peek-may-3-legendary-balancing-changes.jpg);
	background-repeat: no-repeat;
	background-size: cover;



}
body.BildBlackOps3 {
	background: url(Bilder/blackops.jpg)  ;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 

}
body.BildTheDivision {
	background: url(Bilder/thedivision03.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

button  {
 	color: #900;
  	font-weight: bold;
  	border: 1px solid #900;
  	background-color: #FFF;
  	

}

h2 > p{
	color: black;

}
h2 > div{
	color: white;

}